@import "~bootstrap/scss/bootstrap.scss";

.card-group{
    display:flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 25px;
    line-height: 20px;
}

.fa-clock {
    margin-top: 6px;
    font-size: 25px;
}